<section id="last">
  <div class="container">
    <a href="#" id="go-to-top">Go to top</a>
  </div>
</section>
<footer>
  <div class="container">
    <div id="left-footer">
      <h4>ABOUT POLYCONF</h4>
      <p>Come to Poznan, Poland in October 2014 to meet programmers interested in polyglot software development. Lets talk about future of Computer Science!<br><br>Copyright by PolyConf, Poznań 2015</p>
    </div>
    <div id="right-footer">
      <nav>
        <h4>IN THE PAST</h4>
        <ul>
          <li><a href="/">PolyConf 2015</a></li>
          <li><a href="/">PolyConf 2014</a></li>
        </ul>
      </nav>
      <nav>
        <h4>MORE INFO</h4>
        <ul>
          <li><a href="/">Become a sponsor</a></li>
          <li><a href="/">Fringilla Parturient</a></li>
          <li><a href="/">Aenean Nibh</a></li>
          <li><a href="/">Inceptos Risus</a></li>
        </ul>
      </nav>
      <nav>
        <h4>&nbsp;</h4>
        <ul>
          <li><a href="/">Ullamcorper</a></li>
          <li><a href="/">Inceptos Risus</a></li>
          <li><a href="/">Ullamcorper Sit</a></li>
          <li><a href="/">Aenean Nibh</a></li>
        </ul>
      </nav>
      <nav>
        <h4>Follow us</h4>
        <ul>
          <li><a href="/">Facebook</a></li>
          <li><a href="/">Twitter</a></li>
          <li><a href="/">Linkedin</a></li>
          <li><a href="/">You Tube</a></li>
        </ul>
      </nav>
    </div>
  </div>
</footer>