<!-- <div id="half-modal">&nbsp;</div> -->

<div id="full-modal">
  
  <div class="container">
  
      <div id="speaker-details" class="details">  

        <figure class="avatar"></figure>
        <div class="text">
          <h2>Name Surname</h2>
          <h3>Position</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis risus eget urna mollis ornare vel eu leo. Sed posuere consectetur est at lobortis. Aenean lacinia bibendum nulla sed consectetur. Nulla vitae elit libero, a pharetra augue. Maecenas faucibus mollis interdum.</p>
          <ul class="tags">
            <li>tag</li>
            <li>tag</li>
          </ul>
          <ul class="social">
            <li><a href="#">&nbsp;</a></li>
            <li><a href="#">&nbsp;</a></li>
            <li><a href="#">&nbsp;</a></li>
            <li><a href="#">&nbsp;</a></li>
          </ul>
        </div>
                  
      </div>
    
  </div>
  
  <nav>
    <div class="inside">  
      <a href="#" id="modal-prev"></a>
      <a href="#" id="modal-next"></a>
    </div>
  </nav>
  
</div>