<div id="more">
  <div class="inside">
    
    <ul>
      <li class="mobile-menu"><a href="/company/" {% if body_class == 'company' %} class="active" {% endif %}><span>Company</span></a></li>
      <li class="mobile-menu"><a href="/services/" {% if body_class == 'services' %} class="active" {% endif %}><span>Services</span></a></li>
      <li class="mobile-menu"><a href="/work/" {% if body_class == 'work' %} class="active" {% endif %}><span>Work</span></a></li>
      <li class="mobile-menu"><a href="http://blog.nukomeet.com"><span>Blog</span></a></li>
      <li>
        <a href="/workshops/">Workshops</a>
        <ul>
          <li><a href="/workshops/clojure/">ClojureScript Workshop</a></li>
          <li><a href="/workshops/react/">React Workshop</a></li>
        </ul>            
      </li>
      <li><a href="http://www.polyconf.com">Polyconf</a></li>
      <li><a href="/career/">Career</a></li>
    </ul>
      
  </div>
  
</div>