<div id="more-menu">

  <ul>
    <li class="soon"><a href="#">Workshops</a></li>
    <li class="soon"><a href="#">Hotels and restaurants</a></li>
    <li class="soon"><a href="#">PolyConf 5K Run</a></li>
    <li><a href="#">Terms and conditions</a></li>
    <li><a href="#">Blog</a></li>
  </ul>
  <h3>Previous editions</h3>
  <ul>
    <li><a href="#">PolyConf 2015</a></li>
    <li><a href="#">PolyConf 2014</a></li>
  </ul>
  <h3>Follow us</h3>
  <ul class="social">
    <li><a href="#" class="facebook">&nbsp;</a></li>
    <li><a href="#">&nbsp;</a></li>
  </ul>

</div>
  