<nav>
  <ul>
    <li {% if body_class == 'home' %} class="active" {% endif %}><a href="/"><span>About</span></a></li>
    <li class="soon"><a href="#"><span>Agenda</span></a></li>
    <li {% if body_class == 'tickets' %} class="active" {% endif %}><a href="/tickets"><span>Tickets</span></a></li>
<!--     <li {% if body_class == 'speakers' %} class="active" {% endif %}><a href="/speakers"><span>Speakers</span></a></li> -->
    <li class="soon"><a href="#"><span>Speakers</span></a></li>
    <li {% if body_class == 'become' %} class="active" {% endif %}><a href="/become-a-sponsor"><span>Become a sponsor</span></a></li>
    <li {% if body_class == 'venue' %} class="active" {% endif %}><a href="/venue"><span>Venue</span></a></li>
<!--     <li {% if body_class == 'jobs' %} class="active" {% endif %}><a href="/jobs"><span>Jobs</span></a></li> -->
<!--     <li><a href="#" id="more-text-link"><span>More</span><i><span></span></i></a></li> -->
  </ul>
</nav>
