<nav>
  <ul>
    <li {% if body_class == 'home' %} class="active" {% endif %}><a href="/"><span>About</span></a></li>
    <li {% if body_class == 'agenda' %} class="active" {% endif %}><a href="/agenda"><span>Agenda</span></a></li>
    <li {% if body_class == 'speakers' %} class="active" {% endif %}><a href="/speakers"><span>Speakers</span></a></li>
    <li {% if body_class == 'sponsors' %} class="active" {% endif %}><a href="/sponsors"><span>Sponsors</span></a></li>
    <li {% if body_class == 'venue' %} class="active" {% endif %}><a href="/venue"><span>Venue</span></a></li>
    <li {% if body_class == 'jobs' %} class="active" {% endif %}><a href="/jobs"><span>Jobs</span></a></li>
    <li><a href="#" id="more-text-link"><span>More</span><i><span></span></i></a></li>
  </ul>
</nav>
