<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{% block title %}Welcome to Kulfon{% endblock %}</title>
  <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">

  <link href="assets/styles.css" rel="stylesheet">

  {% block head %}{% endblock %}
</head>
<body>
  {% block content %}{% endblock %}

  {% for filename in javascripts %}
  <script type="text/javascript" src="/assets/{{ filename }}"></script>
  {% endfor %}
</body>
</html>
