<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  <title>PolyConf - Polyglot Programming Conference</title>

  {% include "partials/meta.html" %}
  {% include "partials/head.html" %}

  {% block head %}{% endblock %}
</head>
<body class="{{ body_class }}">
  <div id="wrapper">
    
    <header>
      <a href="/" id="logo"><span>&nbsp;</span></a>
      {% include "partials/nav.html" %}
    </header>
    
    {% block content %}{% endblock %}

    {% include "partials/footer.html" %}

  </div>

  {% for filename in javascripts %}
  <script type="text/javascript" src="/assets/{{ filename }}"></script>
  {% endfor %}
</body>
</html>
