{% extends "layouts/base.html" %}
{% set body_class = 'agenda' %}
{% block content %}
  
<section id="agenda">
  <div class="container">

    <h1 class="color-blue">Agenda</h1>
    <p class="lead">Cras mattis consectetur purus sit amet fermentum. Vestibulum id ligula porta felis euismod semper. Aenean lacinia bibendum nulla sed consectetur. Morbi leo risus, porta ac consectetur ac, 
vestibulum at eros. Maecenas sed diam eget risus variust amet non magna.</p>

    <div id="three-days">
      
      <div id="days-header">

        <div class="open day-header"><span class="day-number">Day 1</span><span class="date">Thu, Jun 30</span><a class="tiny teal button disabled">Click to expand</a></div>
        <div class="closed day-header"><span class="day-number">Day 2</span><span class="date">Fri, Jul 1</span><a class="tiny teal button disabled">Click to expand</a></div>
        <div class="closed day-header"><span class="day-number">Day 3</span><span class="date">Fri, Jul 2</span><a class="tiny teal button disabled">Click to expand</a></div>
      
      </div>
      
      <div id="day-one" class="open day">        
        
        <div class="schedule">
          
          <div class="time-slot">
          
            <div class="hour">HH:MM</div>
            <div class="talk"> <!-- .one-line -->
              <figure></figure>
              <div class="title">Title of a talk</div>
              <div class="sub">Name Surname</div>
            </div>
  
          </div>
          
          <div class="time-slot">
          
            <div class="hour">HH:MM</div>
            <div class="talk"> <!-- .one-line -->
              <figure></figure>
              <div class="title">Title of a talk</div>
              <div class="sub">Name Surname</div>
            </div>
  
          </div>
          
          <div class="time-slot">
          
            <div class="hour">HH:MM</div>
            <div class="talk"> <!-- .one-line -->
              <figure></figure>
              <div class="title">Title of a talk</div>
              <div class="sub">Name Surname</div>
            </div>
  
          </div>
          
          <div class="time-slot">
          
            <div class="hour">HH:MM</div>
            <div class="talk"> <!-- .one-line -->
              <figure></figure>
              <div class="title">Title of a talk</div>
              <div class="sub">Name Surname</div>
            </div>
  
          </div>

          <div class="time-slot">
          
            <div class="hour">HH:MM</div>
            <div class="talk"> <!-- .one-line -->
              <figure></figure>
              <div class="title">Title of a talk</div>
              <div class="sub">Name Surname</div>
            </div>
  
          </div>
          
          <div class="time-slot">
          
            <div class="hour">HH:MM</div>
            <div class="talk"> <!-- .one-line -->
              <figure></figure>
              <div class="title">Title of a talk</div>
              <div class="sub">Name Surname</div>
            </div>
  
          </div>
          
          <div class="time-slot">
          
            <div class="hour">HH:MM</div>
            <div class="talk"> <!-- .one-line -->
              <figure></figure>
              <div class="title">Title of a talk</div>
              <div class="sub">Name Surname</div>
            </div>
  
          </div>
          
          <div class="time-slot">
          
            <div class="hour">HH:MM</div>
            <div class="talk"> <!-- .one-line -->
              <figure></figure>
              <div class="title">Title of a talk</div>
              <div class="sub">Name Surname</div>
            </div>
  
          </div>

          <div class="time-slot">
          
            <div class="hour">HH:MM</div>
            <div class="talk"> <!-- .one-line -->
              <figure></figure>
              <div class="title">Title of a talk</div>
              <div class="sub">Name Surname</div>
            </div>
  
          </div>
          
          <div class="time-slot">
          
            <div class="hour">HH:MM</div>
            <div class="talk"> <!-- .one-line -->
              <figure></figure>
              <div class="title">Title of a talk</div>
              <div class="sub">Name Surname</div>
            </div>
  
          </div>
          
          <div class="time-slot">
          
            <div class="hour">HH:MM</div>
            <div class="talk"> <!-- .one-line -->
              <figure></figure>
              <div class="title">Title of a talk</div>
              <div class="sub">Name Surname</div>
            </div>
  
          </div>
          
          <div class="time-slot">
          
            <div class="hour">HH:MM</div>
            <div class="talk"> <!-- .one-line -->
              <figure></figure>
              <div class="title">Title of a talk</div>
              <div class="sub">Name Surname</div>
            </div>
  
          </div>
          

        </div>
        
      </div>

      <div id="day-two" class="closed day">
                
        <div class="schedule">
          
          <div class="time-slot">
          
            <div class="hour">HH:MM</div>
            <div class="talk"> <!-- .one-line -->
              <figure></figure>
              <div class="title">Title of a talk</div>
              <div class="sub">Name Surname</div>
            </div>
  
          </div>
          
          <div class="time-slot">
          
            <div class="hour">HH:MM</div>
            <div class="talk"> <!-- .one-line -->
              <figure></figure>
              <div class="title">Title of a talk</div>
              <div class="sub">Name Surname</div>
            </div>
  
          </div>
          
          <div class="time-slot">
          
            <div class="hour">HH:MM</div>
            <div class="talk"> <!-- .one-line -->
              <figure></figure>
              <div class="title">Title of a talk</div>
              <div class="sub">Name Surname</div>
            </div>
  
          </div>
          
          <div class="time-slot">
          
            <div class="hour">HH:MM</div>
            <div class="talk"> <!-- .one-line -->
              <figure></figure>
              <div class="title">Title of a talk</div>
              <div class="sub">Name Surname</div>
            </div>
  
          </div>

          <div class="time-slot">
          
            <div class="hour">HH:MM</div>
            <div class="talk"> <!-- .one-line -->
              <figure></figure>
              <div class="title">Title of a talk</div>
              <div class="sub">Name Surname</div>
            </div>
  
          </div>
          
          <div class="time-slot">
          
            <div class="hour">HH:MM</div>
            <div class="talk"> <!-- .one-line -->
              <figure></figure>
              <div class="title">Title of a talk</div>
              <div class="sub">Name Surname</div>
            </div>
  
          </div>
          
          <div class="time-slot">
          
            <div class="hour">HH:MM</div>
            <div class="talk"> <!-- .one-line -->
              <figure></figure>
              <div class="title">Title of a talk</div>
              <div class="sub">Name Surname</div>
            </div>
  
          </div>
          
          <div class="time-slot">
          
            <div class="hour">HH:MM</div>
            <div class="talk"> <!-- .one-line -->
              <figure></figure>
              <div class="title">Title of a talk</div>
              <div class="sub">Name Surname</div>
            </div>
  
          </div>

          <div class="time-slot">
          
            <div class="hour">HH:MM</div>
            <div class="talk"> <!-- .one-line -->
              <figure></figure>
              <div class="title">Title of a talk</div>
              <div class="sub">Name Surname</div>
            </div>
  
          </div>
          
          <div class="time-slot">
          
            <div class="hour">HH:MM</div>
            <div class="talk"> <!-- .one-line -->
              <figure></figure>
              <div class="title">Title of a talk</div>
              <div class="sub">Name Surname</div>
            </div>
  
          </div>
          
          <div class="time-slot">
          
            <div class="hour">HH:MM</div>
            <div class="talk"> <!-- .one-line -->
              <figure></figure>
              <div class="title">Title of a talk</div>
              <div class="sub">Name Surname</div>
            </div>
  
          </div>
          
          <div class="time-slot">
          
            <div class="hour">HH:MM</div>
            <div class="talk"> <!-- .one-line -->
              <figure></figure>
              <div class="title">Title of a talk</div>
              <div class="sub">Name Surname</div>
            </div>
  
          </div>
          

        </div>
        
      </div>

      <div id="day-three" class="closed day">
                
        <div class="schedule">
          
          <div class="time-slot">
          
            <div class="hour">HH:MM</div>
            <div class="talk"> <!-- .one-line -->
              <figure></figure>
              <div class="title">Title of a talk</div>
              <div class="sub">Name Surname</div>
            </div>
  
          </div>
          
          <div class="time-slot">
          
            <div class="hour">HH:MM</div>
            <div class="talk"> <!-- .one-line -->
              <figure></figure>
              <div class="title">Title of a talk</div>
              <div class="sub">Name Surname</div>
            </div>
  
          </div>
          
          <div class="time-slot">
          
            <div class="hour">HH:MM</div>
            <div class="talk"> <!-- .one-line -->
              <figure></figure>
              <div class="title">Title of a talk</div>
              <div class="sub">Name Surname</div>
            </div>
  
          </div>
          
          <div class="time-slot">
          
            <div class="hour">HH:MM</div>
            <div class="talk"> <!-- .one-line -->
              <figure></figure>
              <div class="title">Title of a talk</div>
              <div class="sub">Name Surname</div>
            </div>
  
          </div>

          <div class="time-slot">
          
            <div class="hour">HH:MM</div>
            <div class="talk"> <!-- .one-line -->
              <figure></figure>
              <div class="title">Title of a talk</div>
              <div class="sub">Name Surname</div>
            </div>
  
          </div>
          
          <div class="time-slot">
          
            <div class="hour">HH:MM</div>
            <div class="talk"> <!-- .one-line -->
              <figure></figure>
              <div class="title">Title of a talk</div>
              <div class="sub">Name Surname</div>
            </div>
  
          </div>
          
          <div class="time-slot">
          
            <div class="hour">HH:MM</div>
            <div class="talk"> <!-- .one-line -->
              <figure></figure>
              <div class="title">Title of a talk</div>
              <div class="sub">Name Surname</div>
            </div>
  
          </div>
          
          <div class="time-slot">
          
            <div class="hour">HH:MM</div>
            <div class="talk"> <!-- .one-line -->
              <figure></figure>
              <div class="title">Title of a talk</div>
              <div class="sub">Name Surname</div>
            </div>
  
          </div>

          <div class="time-slot">
          
            <div class="hour">HH:MM</div>
            <div class="talk"> <!-- .one-line -->
              <figure></figure>
              <div class="title">Title of a talk</div>
              <div class="sub">Name Surname</div>
            </div>
  
          </div>
          
          <div class="time-slot">
          
            <div class="hour">HH:MM</div>
            <div class="talk"> <!-- .one-line -->
              <figure></figure>
              <div class="title">Title of a talk</div>
              <div class="sub">Name Surname</div>
            </div>
  
          </div>
          
          <div class="time-slot">
          
            <div class="hour">HH:MM</div>
            <div class="talk"> <!-- .one-line -->
              <figure></figure>
              <div class="title">Title of a talk</div>
              <div class="sub">Name Surname</div>
            </div>
  
          </div>
          
          <div class="time-slot">
          
            <div class="hour">HH:MM</div>
            <div class="talk"> <!-- .one-line -->
              <figure></figure>
              <div class="title">Title of a talk</div>
              <div class="sub">Name Surname</div>
            </div>
  
          </div>
          

        </div>
        
      </div>

    </div>

  </div>  
</section>

{% include "partials/sponsors.html" %}

{% endblock %}
