{% extends "layouts/base.html" %}
{% set body_class = 'become' %}
{% block content %}
  
<section id="tickets">
  <div class="container">

    <h1 class="color-blue">Become a sponsor</h1>
    <p class="lead">Help us create the best and biggest polyglot conference in the world.<br>
    Become our partner and secure maximum exposure with one of our packages.</p>

    <div class="row">
  
      <div id="packages">
  
        <h3>Sponsorship packages</h3>
  
          <div class="desktop table-container">
            <table>
              <tr class="header">
                <td class="description no-border">&nbsp;</td>
                <td class="package"><span class="name">Platinum</span><span class="price">&euro; 8192</span></td>
                <td class="package"><span class="name">Gold</span><span class="price">&euro; 4096</span></td>
                <td class="package"><span class="name">Silver</span><span class="price">&euro; 2048</span></td>
                <td class="package"><span class="name">Bronze</span><span class="price">&euro; 1024</span></td>
                <td class="package border-right"><span class="name">Supporter</span><span class="price">&euro; 384</span></td>
              </tr>
  
              <tr class="feature">
                <td class="label">Number of spots available</td>
                <td class="number">1</td>
                <td class="number">3</td>
                <td class="number">5</td>
                <td class="number">15</td>
                <td class="number border-right">&infin;</td>
              </tr>
  
              <tr class="feature">
                <td class="label">Conference passes</td>
                <td class="number">6</td>
                <td class="number">4</td>
                <td class="number">3</td>
                <td class="number">2</td>
                <td class="number border-right">1</td>
              </tr>
  
              <tr class="feature">
                <td class="label">Logo in sponsors section on website</td>
                <td class="yes"><span class="small">up to 200 words<br>description</span></td>
                <td class="yes"><span class="small">up to 100 words<br>description</span></td>
                <td class="yes">&nbsp;</td>
                <td class="yes">&nbsp;</td>
                <td class="yes border-right">&nbsp;</td>
              </tr>
  
              <tr class="feature">
                <td class="label">Logo on conference programme</td>
                <td class="yes">&nbsp;</td>
                <td class="yes">&nbsp;</td>
                <td class="yes">&nbsp;</td>
                <td class="yes border-right">&nbsp;</td>
                <td class="no-border">&nbsp;</td>
              </tr>
  
              <tr class="feature">
                <td class="label">Tweets during the conference </td>
                <td class="number">2</td>
                <td class="number">1</td>
                <td class="number">1</td>
                <td class="number border-right">1</td>
                <td class="no-border">&nbsp;</td>
              </tr>
  
              <tr class="feature">
                <td class="label">Job offers on our website </td>
                <td class="number">6</td>
                <td class="number">4</td>
                <td class="number border-right">2</td>
                <td class="no-border">&nbsp;</td>
                <td class="no-border">&nbsp;</td>
              </tr>
  
              <tr class="feature">
                <td class="label">Roll-up in the venue</td>
                <td class="yes">&nbsp;</td>
                <td class="yes">&nbsp;</td>
                <td class="yes border-right">&nbsp;</td>
                <td class="no-border">&nbsp;</td>
                <td class="no-border">&nbsp;</td>
              </tr>
  
              <tr class="feature">
                <td class="label">Logo on conference videos</td>
                <td class="yes">&nbsp;</td>
                <td class="yes border-right">&nbsp;</td>
                <td class="no-border">&nbsp;</td>
                <td class="no-border">&nbsp;</td>
                <td class="no-border">&nbsp;</td>
              </tr>
  
              <tr class="feature">
                <td class="label">Booth space</td>
                <td class="yes">&nbsp;</td>
                <td class="yes border-right">&nbsp;</td>
                <td class="no-border">&nbsp;</td>
                <td class="no-border">&nbsp;</td>
                <td class="no-border">&nbsp;</td>
              </tr>
  
              <tr class="feature">
                <td class="label">Roll-up on stage</td>
                <td class="yes border-right">&nbsp;</td>
                <td class="no-border">&nbsp;</td>
                <td class="no-border">&nbsp;</td>
                <td class="no-border">&nbsp;</td>
                <td class="no-border">&nbsp;</td>
              </tr>
  
              <tr class="feature">
                <td class="label">Logo on the main screen, during breaks</td>
                <td class="yes border-right">&nbsp;</td>
                <td class="no-border">&nbsp;</td>
                <td class="no-border">&nbsp;</td>
                <td class="no-border">&nbsp;</td>
                <td class="no-border">&nbsp;</td>
              </tr>
            </table>
          </div>
  
        
      </div>

      <div id="contact-us">
        
        <h3>Let's talk</h3>
        <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nullam quis risus eget urna mollis ornare vel eu leo at <a href="mailto:hello@polyconf.com">hello@polyconf.com</a></p>
        
      </div>

    
    </div>
      
  </div>  
</section>

{% include "partials/sponsors.html" %}

{% endblock %}
