{% extends "layouts/base.html" %}
{% set body_class = 'home' %}
{% block content %}
  
<section id="first">
  
  <div style="width: 100%; height: 100%" id="video" data-vide-bg="/assets/video/bg.mp4"></div>
  <div id="video-overlay"></div>
  <div class="container">
    
    <p class="lead">Polyglot<br>programmers<br>unite</p>
    <p class="date">Jun 30 - Jul 2, 2016 &middot; Poznan, PL</p>  

  </div>  
</section>

<section id="register">
  <div class="container">

    <div id="countdown">
      <span class="polyconf-starts">POLYCONF starts in</span>
      <span class="time">3 months</span>
      <span class="plus">+</span>
      <span class="time">2 weeks</span>
      <span class="plus">+</span>
      <span class="time">6 days</span>
    </div>
    
    <div id="register-button">
      
      <a href="#" class="green big button">Register now</a>
      <div id="early-birds">SAVE ON<br>EARLY BIRDS<br>TICKETS</div>
      
    </div>
    
  </div>
</section>

<section id="about">
  <div class="container">
  
    <h2>About POLYCONF</h2>
    <p class="lead">PolyConf is a three-day, single track, multi-disciplinary conference on advanced technologies for programmers interested in polyglot approach to software development. PolyConf succeeds RuPy, a Ruby and Python conference founded in 2006. Over seven years the conference has grown and disseminated to several countries (Poland, Czech Republic, Hungary, Brazil) 
as well as to other programming languages.</p>
  
  </div>
</section>

<section id="grid">
  <div class="video element">
    &nbsp;
  </div>
  <div class="twitter element">
    <div class="inside">
      <figure class="avatar"></figure>
      <p>Morbi leo risus, porta ac consectetur ac, vestibulum a ante venenatis dapibus posuere velit aliquet.</p>
      <a href="http://twitter.com">@twitter</a>
    </div>
  </div>
  <div class="twitter element">
    <div class="inside">
      <figure class="avatar"></figure>
      <p>Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Integer posuere erat.</p>
      <a href="http://twitter.com">@twitter</a>
    </div>
  </div>
  <div class="twitter element">
    <div class="inside">
      <figure class="avatar"></figure>
      <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Sed posuere consectetur est at lobortis.</p>
      <a href="http://twitter.com">@twitter</a>
    </div>
  </div>
  <div class="gallery element">
    &nbsp;
  </div>
  <div class="twitter element">
    <div class="inside">
      <figure class="avatar"></figure>
      <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Morbi leo risus, porta ac.</p>
      <a href="http://twitter.com">@twitter</a>
    </div>
  </div>

</section>

{% include "partials/sponsors.html" %}

{% endblock %}
