{% extends "layouts/base.html" %}

{% block content %}
<div class="illustration">
  <figure id="badge">
    <span class="cutout"></span>
    <span class="cord"></span>
    <span class="logo"><img src="assets/logo.svg" /></span>
    <span class="line line-1"></span>
    <span class="line line-2"></span>
  </figure>
  <h1>Poly<span class="dot"></span>Conf<span class="dot"></span>2016</h1>
  <h2>JUN 30 - JUL 2, 2016<span class="dot"></span>POZNAN, PL</h2>
  <h4>We are working <br class="only-mobile">on a new website</h4>
</div>
<div class="newsletter">
  <h3>Sign up on Poly Conf <br class="only-mobile">mailing list</h3>
  <form action="//polyconf.us2.list-manage.com/subscribe/post?u=294dfa55a7b056bcc82ffae2d&amp;id=409201e872" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <input type="email" value="" name="EMAIL" class="email" placeholder="Enter your e-mail address here">
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_294dfa55a7b056bcc82ffae2d_409201e872" tabindex="-1" value=""></div>
    <input type="submit" value="" name="subscribe" class="button">
  </form>
</div>
{% endblock %}
