{% extends "layouts/base.html" %}
{% set body_class = 'home' %}
{% block content %}
  
<section id="first">
  
  <video autoplay="" loop="" id="video" poster="/assets/video/bg.jpg">
    <source src="/assets/video/bg2.mp4" type="video/mp4">
  </video>
  <div id="video-overlay">&nbsp;</div>

  <div class="container">
    
    <p class="lead">Polyglot<br>programmers<br>unite</p>
    <p class="date">Jun 30 - Jul 2, 2016 &middot; Poznan, PL</p>  

  </div>  
</section>

<section id="register">
  <div class="container">
    
    <div id="slider">

      <ul>
        <li class="slide">
          <div class="text">
            <div>Call for Papers is open till March 30th, 2016</div>
            <a href="#" class="medium blue button">More info</a>
          </div>
        </li>
        <li class="slide">
          <div class="text">
            <div>Save now on early bird tickets, available till April 30th, 2016</div>
            <a href="#" class="medium blue button">More info</a>
          </div>
        </li>
        <li class="slide">
          <div class="text">
            <div>Promote your company. Find great employees. Become our Sponsor.</div>
            <a href="#" class="medium blue button">More info</a>
          </div>
        </li>
      </ul>

    </div>
    
    <div id="register-button">
      
      <a href="/tickets" class="green big button">Register now</a>
      <div id="early-birds">SAVE ON<br>EARLY BIRDS<br>TICKETS</div>
      
    </div>
    
  </div>
</section>

<section id="about">
  <div class="container">
    
    <div class="text">
  
    <h2>About POLYCONF</h2>
    <p class="lead">PolyConf is a three-day, single track, multi-disciplinary conference on advanced technologies for programmers interested in polyglot approach to software development.<p>
      
    <h3>History</h3>
    <p>PolyConf succeeds RuPy, a Ruby and Python conference founded in 2006. Over seven years the conference has grown and disseminated to several countries (Poland, Czech Republic, Hungary, Brazil) as well as to other programming languages.</p>
    
    <h3>Mission</h3>
    <p>PolyConf mission is to promote polyglot approach to software development and foster cross-pollination between various technologies and their communities.</p>

    </p>
  
  </div>
</section>

<section id="grid">
  <div class="video element">
    &nbsp;
  </div>
  <div class="twitter element">
    <div class="inside">
      <figure class="avatar"></figure>
      <p>Great speakers, great conversations, great community. Many thanks team @polyconfhq for an outstanding conference. See you soon! #polyconf</p>
      <a href="http://twitter.com/MakisOtman">@MakisOtman</a>
    </div>
  </div>
  <div class="twitter element">
    <div class="inside">
      <figure class="avatar"></figure>
      <p>Thanks for having us @polyconfhq! Had an amazing time talking and listening to other speakers! Very inspiring #polyconf rocks!</p>
      <a href="http://twitter.com/karolinaferenz">@karolinaferenz</a>
    </div>
  </div>
  <div class="twitter element">
    <div class="inside">
      <figure class="avatar"></figure>
      <p>@polyconfhq Thanks for a wonderful conference. Going home inspired with list of 10+ languages worth learning.</p>
      <a href="http://twitter.com/HorbowiczW">@HorbowiczW</a>
    </div>
  </div>
  <div class="gallery element">
    &nbsp;
  </div>
  <div class="twitter element">
    <div class="inside">
      <figure class="avatar"></figure>
      <p>#polyconf was a best conference I've attended for a long, long time. Definitely plan to get back next year. :)</p>
      <a href="http://twitter.com">@asolovyov</a>
    </div>
  </div>

</section>

{% include "partials/sponsors.html" %}

{% endblock %}
