{% extends "layouts/base.html" %}
{% set body_class = 'speakers' %}
{% block content %}
  
<section id="speakers">
  <div class="container">

    <h1 class="color-blue">Speakers</h1>
    <p class="lead">PolyConf is not focused on any particular language or area of technology. Our mission is<br>
    to promote polyglot approach to software development and foster cross-pollination<br>
    between various technologies and their communities.</p>

    <div id="speaker-list">
      
      <div class="speaker">
        
        <figure></figure>
        <div class="text">
          
          <h3>Name Surname</h3>
          <p class="desc">Ullamcorper Condimentum Sem</p>
          <p class="twitter"><i></i>twitter</p>
          <ul class="tags">
            <li>Abcdefg</li>
            <li>Abcd</li>
          </ul>
          
        </div>
        
      </div>
      <div class="speaker">
        
        <figure></figure>
        <div class="text">
          
          <h3>Name Surname</h3>
          <p class="desc">Ullamcorper Condimentum Sem</p>
          <p class="twitter"><i></i>twitter</p>
          <ul class="tags">
            <li>Abcdefg</li>
            <li>Abcd</li>
          </ul>
          
        </div>
        
      </div>
      <div class="speaker">
        
        <figure></figure>
        <div class="text">
          
          <h3>Name Surname</h3>
          <p class="desc">Ullamcorper Condimentum Sem</p>
          <p class="twitter"><i></i>twitter</p>
          <ul class="tags">
            <li>Abcdefg</li>
            <li>Abcd</li>
          </ul>
          
        </div>
        
      </div>
      <div class="speaker">
        
        <figure></figure>
        <div class="text">
          
          <h3>Name Surname</h3>
          <p class="desc">Ullamcorper Condimentum Sem</p>
          <p class="twitter"><i></i>twitter</p>
          <ul class="tags">
            <li>Abcdefg</li>
            <li>Abcd</li>
          </ul>
          
        </div>
        
      </div>

      <div class="speaker">
        
        <figure></figure>
        <div class="text">
          
          <h3>Name Surname</h3>
          <p class="desc">Ullamcorper Condimentum Sem</p>
          <p class="twitter"><i></i>twitter</p>
          <ul class="tags">
            <li>Abcdefg</li>
            <li>Abcd</li>
          </ul>
          
        </div>
        
      </div>
      <div class="speaker">
        
        <figure></figure>
        <div class="text">
          
          <h3>Name Surname</h3>
          <p class="desc">Ullamcorper Condimentum Sem</p>
          <p class="twitter"><i></i>twitter</p>
          <ul class="tags">
            <li>Abcdefg</li>
            <li>Abcd</li>
          </ul>
          
        </div>
        
      </div>
      <div class="speaker">
        
        <figure></figure>
        <div class="text">
          
          <h3>Name Surname</h3>
          <p class="desc">Ullamcorper Condimentum Sem</p>
          <p class="twitter"><i></i>twitter</p>
          <ul class="tags">
            <li>Abcdefg</li>
            <li>Abcd</li>
          </ul>
          
        </div>
        
      </div>
      <div class="speaker">
        
        <figure></figure>
        <div class="text">
          
          <h3>Name Surname</h3>
          <p class="desc">Ullamcorper Condimentum Sem</p>
          <p class="twitter"><i></i>twitter</p>
          <ul class="tags">
            <li>Abcdefg</li>
            <li>Abcd</li>
          </ul>
          
        </div>
        
      </div>
            <div class="speaker">
        
        <figure></figure>
        <div class="text">
          
          <h3>Name Surname</h3>
          <p class="desc">Ullamcorper Condimentum Sem</p>
          <p class="twitter"><i></i>twitter</p>
          <ul class="tags">
            <li>Abcdefg</li>
            <li>Abcd</li>
          </ul>
          
        </div>
        
      </div>
      <div class="speaker">
        
        <figure></figure>
        <div class="text">
          
          <h3>Name Surname</h3>
          <p class="desc">Ullamcorper Condimentum Sem</p>
          <p class="twitter"><i></i>twitter</p>
          <ul class="tags">
            <li>Abcdefg</li>
            <li>Abcd</li>
          </ul>
          
        </div>
        
      </div>
      <div class="speaker">
        
        <figure></figure>
        <div class="text">
          
          <h3>Name Surname</h3>
          <p class="desc">Ullamcorper Condimentum Sem</p>
          <p class="twitter"><i></i>twitter</p>
          <ul class="tags">
            <li>Abcdefg</li>
            <li>Abcd</li>
          </ul>
          
        </div>
        
      </div>
      <div class="speaker">
        
        <figure></figure>
        <div class="text">
          
          <h3>Name Surname</h3>
          <p class="desc">Ullamcorper Condimentum Sem</p>
          <p class="twitter"><i></i>twitter</p>
          <ul class="tags">
            <li>Abcdefg</li>
            <li>Abcd</li>
          </ul>
          
        </div>
        
      </div>

    </div>

  </div>  
</section>

{% include "partials/sponsors.html" %}

{% endblock %}
