{% extends "layouts/base.html" %}
{% set body_class = 'venue' %}
{% block content %}
  
<section id="venue">

  <div class="container">

    <h1 class="color-blue">Venue</h1>
    <p class="lead">For second time Poly Conf will take place at The Faculty of Law and Administration<br/>
    of Adam Mickiewicz University in the heart of the city of Poznan, Poland.</p>

  </div>
  
  <div id="map">
    
  </div>
  
  <script type="text/javascript">

    function initialize() {
      var mapCanvas = document.getElementById('map');
      var coordinates = {
        lat: 52.416228,
        lng: 16.925608
      };
      var mapOptions = {
        center: new google.maps.LatLng(coordinates.lat, coordinates.lng),
        zoom: 16,
        panControl: true,
        zoomControl: true,
        zoomControlOptions: {
          style: google.maps.ZoomControlStyle.LARGE,
          position: google.maps.ControlPosition.RIGHT_BOTTOM
        },
        scrollwheel: false,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };
      var map = new google.maps.Map(mapCanvas, mapOptions);
      var marker = new google.maps.Marker({
        position: new google.maps.LatLng(coordinates.lat, coordinates.lng),
        map: map,
        title: 'PolyConf 2015'
      });
    }
    google.maps.event.addDomListener(window, 'load', initialize);
  
    </script>
  
</section>

{% include "partials/sponsors.html" %}

{% endblock %}
