button, input[type="button"], input[type="reset"], input[type="submit"] {
  appearance: none;
  background-color: #477dca;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "proxima-nova-soft", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

button:hover,
button:focus, input[type="button"]:hover,
input[type="button"]:focus, input[type="reset"]:hover,
input[type="reset"]:focus, input[type="submit"]:hover,
input[type="submit"]:focus {
  background-color: #3964a2;
  color: #fff; }

button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled {
  cursor: not-allowed;
  opacity: 0.5; }

button:disabled:hover, input[type="button"]:disabled:hover, input[type="reset"]:disabled:hover, input[type="submit"]:disabled:hover {
  background-color: #477dca; }

fieldset {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  margin: 0 0 0.75em;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "proxima-nova-soft", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em; }

label {
  font-weight: 600;
  margin-bottom: 0.375em; }

label.required::after {
  content: "*"; }

label abbr {
  display: none; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea,
select[multiple=multiple] {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  font-family: "proxima-nova-soft", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 150ms ease;
  width: 100%; }

input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, input:not([type]):hover, textarea:hover,
select[multiple=multiple]:hover {
  border-color: #b1b1b1; }

input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus,
select[multiple=multiple]:focus {
  border-color: #477dca;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
  outline: none; }

input[type="color"]:disabled, input[type="date"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="email"]:disabled, input[type="month"]:disabled, input[type="number"]:disabled, input[type="password"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="text"]:disabled, input[type="time"]:disabled, input[type="url"]:disabled, input[type="week"]:disabled, input:not([type]):disabled, textarea:disabled,
select[multiple=multiple]:disabled {
  background-color: #f2f2f2;
  cursor: not-allowed; }

input[type="color"]:disabled:hover, input[type="date"]:disabled:hover, input[type="datetime"]:disabled:hover, input[type="datetime-local"]:disabled:hover, input[type="email"]:disabled:hover, input[type="month"]:disabled:hover, input[type="number"]:disabled:hover, input[type="password"]:disabled:hover, input[type="search"]:disabled:hover, input[type="tel"]:disabled:hover, input[type="text"]:disabled:hover, input[type="time"]:disabled:hover, input[type="url"]:disabled:hover, input[type="week"]:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover,
select[multiple=multiple]:disabled:hover {
  border: 1px solid #ddd; }

textarea {
  resize: vertical; }

input[type="search"] {
  appearance: none; }

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="checkbox"] + label,
input[type="radio"] + label {
  display: inline-block; }

input[type="file"] {
  margin-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

dl {
  margin-bottom: 0.75em; }

dl dt {
  font-weight: bold;
  margin-top: 0.75em; }

dl dd {
  margin: 0; }

table {
  border-collapse: collapse;
  font-feature-settings: "kern", "liga", "tnum";
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #a6a6a6;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

body {
  color: #333;
  font-family: "proxima-nova-soft", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-feature-settings: "kern", "liga", "pnum";
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "proxima-nova-soft", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.2;
  margin: 0 0 0.75em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #477dca;
  text-decoration: none;
  transition: color 150ms ease; }

a:active,
a:focus,
a:hover {
  color: #355e98; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html, body {
  min-height: 100%; }

body {
  min-height: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  color: white;
  background: #052534; }

@media screen and (min-width: 640px) {
  .illustration {
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); } }

@media screen and (max-width: 639px) {
  .illustration {
    position: relative;
    margin: 100px auto 20px; } }

.illustration #badge {
  position: relative;
  width: 210px;
  height: 280px;
  border: 4px solid #fff;
  border-radius: 20px;
  margin: 0 auto 50px; }

@media screen and (max-width: 639px) {
  .illustration #badge {
    width: 140px;
    height: 190px;
    border-width: 3px;
    border-radius: 15px; } }

.illustration #badge .cutout {
  width: 30px;
  height: 30px;
  border: 3px solid #fff;
  position: absolute;
  top: 15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  border-radius: 100%; }

@media screen and (max-width: 639px) {
  .illustration #badge .cutout {
    top: 10px;
    width: 16px;
    height: 16px;
    border-width: 2px; } }

.illustration #badge .cord {
  border-radius: 3px;
  width: 6px;
  height: 400px;
  background: #75838b;
  position: absolute;
  top: 30px;
  left: 50%;
  -webkit-transform: translate(-50%, -100%);
  -moz-transform: translate(-50%, -100%);
  -ms-transform: translate(-50%, -100%);
  -o-transform: translate(-50%, -100%);
  transform: translate(-50%, -100%); }

@media screen and (max-width: 639px) {
  .illustration #badge .cord {
    width: 4px;
    top: 20px; } }

.illustration #badge .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.illustration #badge .logo img {
  width: 70px;
  height: auto; }

@media screen and (max-width: 639px) {
  .illustration #badge .logo img {
    width: 50px; } }

.illustration #badge .line {
  border-radius: 3px;
  background: #75838b;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%); }

.illustration #badge .line-1 {
  border-radius: 3px;
  height: 6px;
  width: 120px;
  bottom: 50px; }

@media screen and (max-width: 639px) {
  .illustration #badge .line-1 {
    height: 4px;
    width: 80px;
    bottom: 40px; } }

.illustration #badge .line-2 {
  border-radius: 3px;
  height: 4px;
  width: 80px;
  bottom: 32px; }

@media screen and (max-width: 639px) {
  .illustration #badge .line-2 {
    height: 3px;
    width: 60px;
    bottom: 28px; } }

.illustration h1 {
  text-align: center;
  font-size: 2.375rem;
  line-height: 1em;
  color: #fff;
  font-weight: 500;
  margin: 0 0 10px;
  text-transform: uppercase;
  white-space: nowrap; }

@media screen and (max-width: 639px) {
  .illustration h1 {
    font-size: 1.75rem; } }

.illustration h1 span {
  width: 6px;
  height: 6px;
  display: inline-block;
  vertical-align: top;
  background: #75838b;
  border-radius: 100%;
  margin: 0 8px;
  position: relative;
  top: 17px; }

@media screen and (max-width: 639px) {
  .illustration h1 span {
    width: 4px;
    height: 4px;
    top: 12px; } }

.illustration h2 {
  text-align: center;
  font-size: 1.125rem;
  color: #fff;
  font-weight: 500;
  margin: 0;
  text-transform: uppercase;
  margin-bottom: 40px;
  white-space: nowrap; }

@media screen and (max-width: 639px) {
  .illustration h2 {
    font-size: 0.875rem; } }

.illustration h2 span {
  width: 4px;
  height: 4px;
  display: inline-block;
  vertical-align: top;
  background: #75838b;
  border-radius: 100%;
  margin: 0 10px;
  position: relative;
  top: 8px; }

@media screen and (max-width: 639px) {
  .illustration h2 span {
    margin: 0 6px;
    width: 3px;
    height: 3px;
    top: 6px; } }

.illustration h4 {
  text-align: center;
  font-size: 1.125rem;
  color: #75838b;
  font-weight: 500;
  margin: 0;
  text-transform: uppercase; }

@media screen and (min-width: 640px) {
  .only-mobile {
    display: none; } }

@media screen and (max-width: 639px) {
  .only-mobile {
    display: block; } }

.newsletter {
  text-align: center; }

@media screen and (min-width: 640px) {
  .newsletter {
    position: absolute;
    bottom: 10%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%); } }

@media screen and (max-width: 639px) {
  .newsletter {
    position: relative;
    margin: 50px auto 0;
    padding-bottom: 100px; } }

.newsletter h3 {
  text-transform: uppercase;
  font-weight: 500; }

.newsletter form {
  width: 460px;
  position: relative;
  text-align: center; }

@media screen and (min-width: 640px) {
  .newsletter form {
    right: -30px; }
  .newsletter form::after {
    clear: both;
    content: "";
    display: table; } }

@media screen and (max-width: 639px) {
  .newsletter form {
    margin: 0 auto;
    right: -30px;
    width: 250px; } }

.newsletter input.email {
  border: 2px solid #68757b;
  border-radius: 3px;
  background: transparent;
  width: 400px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  float: left; }

@media screen and (max-width: 639px) {
  .newsletter input.email {
    width: 190px;
    margin: 0 auto;
    white-space: nowrap;
    text-overflow: ellipsis; } }

.newsletter input.email::-webkit-input-placeholder {
  color: #68757b;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  transition: 0.5s all; }

.newsletter input.email::-moz-placeholder {
  color: #68757b;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  transition: 0.5s all; }

.newsletter input.email:-moz-placeholder {
  color: #68757b;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  transition: 0.5s all; }

.newsletter input.email:-ms-input-placeholder {
  color: #68757b;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  transition: 0.5s all; }

.newsletter input.email:focus {
  box-shadow: none;
  border-color: white;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  transition: 0.5s all; }

.newsletter input.email:focus::-webkit-input-placeholder {
  color: #fff;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  transition: 0.5s all; }

.newsletter input.email:focus::-moz-placeholder {
  color: #fff;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  transition: 0.5s all; }

.newsletter input.email:focus:-moz-placeholder {
  color: #fff;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  transition: 0.5s all; }

.newsletter input.email:focus:-ms-input-placeholder {
  color: #fff;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  transition: 0.5s all; }

.newsletter .button {
  background: transparent url(/assets/arrow.svg) no-repeat 0px center;
  width: 60px;
  height: 40px;
  float: left;
  -webkit-transition: 0.5s background-position;
  -moz-transition: 0.5s background-position;
  transition: 0.5s background-position; }

.newsletter .button:hover {
  background: transparent url(/assets/arrow.svg) no-repeat 10px center;
  -webkit-transition: 0.5s background-position;
  -moz-transition: 0.5s background-position;
  transition: 0.5s background-position; }
