#{$all-buttons},.button {

  appearance: none;
  background-color: $action-color;
  border: 0;
  border-radius: $base-border-radius;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: $heading-font-family;
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
  line-height: 1;
  padding: 0;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color $base-duration $base-timing;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:focus {
    background-color: shade($action-color, 20%);
    color: #fff;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: $action-color;
    }
  }
  

  &.tiny {
    height: 24px;
    line-height: 25px;
    font-size: rem(14px);
    padding: 0 12px;
    border-radius: 2px;
    font-weight: 600;
  }  

  &.medium {
    height: 40px;
    line-height: 40px;
    font-size: rem(22px);
    padding: 0 20px;
    border-radius: 3px;
  }
  
  &.big {
    height: 60px;
    line-height: 60px;
    font-size: rem(30px);
    padding: 0 40px;
    border-radius: 3px;
  }
  
  &.green {
    background: $green;
    &:hover {
      background: tint($green,10);
    }
  }

  &.teal {
    background: $teal;
    &:hover {
      background: tint($teal,10);
    }
  }

  
}
