$black:   #1F2127;
$dark:    #232833;
$medium:  #3D424C;
$green:   #1E9999;
$teal:    #008AA5;
$blue:    #0F6B99;
$blue:    #106B99;
$light:   #E3E4E6;
$purple:  #4F4099;

@import "bourbon";
@import "grid-settings";
@import "base";
@import "neat";

html {
  height: 100%;
  font-size: 18px;
}

body {
  background: $dark;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

// HOME

#wrapper {
  @include transition(1s transform);
  background: $light;
  position: relative;
  z-index: 100;
}

.container {
  padding: 100px 80px;
}

header {
  z-index: 10000000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  #logo {
    display: block;
    width: 170px;
    height: 170px;
    background-image: linear-gradient(-45deg, rgba($blue,0.95) 0%, saturate(shade($blue,30),10) 100%);
    position: absolute;
    top: 0;
    left: 0;
    span {
      display: block;
      width: 100%;
      height: 100%;
      background: transparent url(/assets/logo.svg) no-repeat center;
      background-size: cover;
    }
  }
  nav {
    position: absolute;
    right: 30px;
    top: 30px;
    height: 40px;
    li {
      float: left;
      height: 50px;
      position: relative;
      a {
        font-family: "proxima-nova-soft";
        display: block;
        height: 50px;
        line-height: 50px;
        padding: 0 20px;
        position: relative;
        color: $medium;
        font-size: rem(21px);
        text-transform: uppercase;
        &:hover {
          color: tint($medium,10);
        }
      }
      &.active {
        &:before {
          content: "";
          background-image: linear-gradient(saturate(shade($teal,15),10) 0%, rgba($teal,0.95) 100%);
          position: absolute;
          height: 80px;
          left: 0;
          right: 0;
          bottom: 0;
        }
        a,a:hover {
          color: #fff;
        }
      }
    }
    font-family: "proxima-nova-soft";
  }
  
  #more-text-link {
    i {
      display: inline-block;
      vertical-align: top;
      margin-left: 12px;
      width: 30px;
      height: 30px;
      top: 8px;
      position: relative;
      span {
        background: $medium;
        position: absolute;
        display: block;
        top: 50%;
        left: 0;
        width: 20px;
        height: 2px;
        border-radius: 2px;
        @include transform(transitionY(-50%));
        @include transition(0.33s opacity);
        &:before {
          content:"";
          width: 20px;
          height: 2px;
          background: $medium;
          position: absolute;
          top: -6px;
          border-radius: 2px;
        }
        &:after {
          content:"";
          width: 20px;
          height: 2px;
          background: $medium;
          position: absolute;
          top: 6px;
          border-radius: 2px;
        }
      }
    }
    &:hover {
      i {
        span {
          @include transition(0.33s opacity);
          opacity: 0.7;
        }
      }
    }
  }

}

#wrapper {
  
  section {
    
    &:first-of-type {
      
      .container {
        
        padding-top: 280px;
        
      }
      
    }
    
  }
  
}

.home {
  
  header {
    nav {
      li {
        a {
          color: white;
        }
      }
    }
    #more-text-link i {
      span, span:before, span:after {
        background: white;      
      }
    }
  }
  
  #first {
    
    position: relative;
    background: $dark;
    height: 90vh; 

    #video {
      z-index: 100;
      width: 100%;
      height: 100%;
    }
    
    #video-overlay {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba($dark,0.5);
      z-index: 120;
    }
    
    .container {
      padding: 0 !important;
      position: absolute;
      top: 50%;
      left: 70px;
      right: 70px;
      margin-top: 5vh;
      @include transform(translateY(-50%));
      z-index: +1000;
      
      .lead {
        font-family: "proxima-nova-soft";
        font-size: rem(110px);
        text-transform: uppercase;
        color: #fff;
        line-height: 0.8em;
        margin: 0 0 30px;
      }
      .date {
        font-family: "proxima-nova-soft";
        font-size: rem(48px);
        text-transform: uppercase;
        color: #fff;
        line-height: 1em;
      }
    }
  }  
  #register {
    background: $medium;
    position: relative;
    z-index: 90000;
    .container {
      padding: 40px 70px;
      @include clearfix();
      #countdown {
        float: left;
        font-size: rem(32px);
        line-height: 60px;
        color: #fff;
        .polyconf-starts {
          color: rgba(white,0.5);
        }
        .plus {
          color: $black;
        }
      }
      #register-button {
        float:right;
        position: relative;
        #early-birds {
          font-family: "proxima-nova-soft";
          font-size: rem(24px);
          line-height: 1em;
          color: #fff;     
          text-align: right;
          position: absolute;
          right: 40px;
          top: -100px;
          @include transform(translateY(-100%));   
          &:after {
            content: "";
            width: 3px;
            height: 60px;
            position: absolute;
            right: 20px;
            border-radius: 2px;
            bottom: -80px;
            background: #fff;
          }
        }
      }
    }
  }
  #about {
    background: $dark;
    .container {
      padding: 150px 70px;    
    }
    h2,p {
      color: #fff;
    }
  }
  #grid {
    @include display(flex);
    @include flex-wrap(wrap);
    .element {
      @include flex-basis(33%);
      @include flex-grow(1);
      background: $medium;
      &:after {
        content: "";
        width: 100%;
        padding-top: 50%;
        display: block;
      }
    }
  }
}

#sponsors {

  background: white;

  .sponsors {
  
    @include clearfix();
    margin-bottom: 40px;
  
    .sponsor {
      float: left;
      figure {
        margin: 0;
        background: $medium;
      }
      margin-right: 10px;
      margin-bottom: 10px;
    }
  
  }
  
  @for $i from 1 through 100 {
    .sponsor:nth-of-type(#{$i}) {
      figure {      
        width: random(200) + 50 + px
      }
    }

  }
    
  #main-sponsors {
    @for $i from 1 through 5 {
      .sponsor:nth-of-type(#{$i}) {
        figure {
          width: random(200) + 100 + px !important
        }
      }
    }
    .sponsor {
      figure {
        height: 60px;
      }
      .button {
        margin-top: 10px;
      }
    }
  }
  
  #regular-sponsors {
    .sponsor {
      figure {
        height: 50px;
      }
    }
  }
  
  #partners-supporters {
    .sponsor {
      figure {
        height: 40px;
      }
    }
  }
    
}

#last {
  background: white;
  position: relative;
  .container {
    padding: 0 70px;
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      height: 3px;
      background: $light;
      left: 0;
      right: 0;
    }
    a {
      display: none;
    }
  }
}

footer {
  background: white;
  h4 {
    color: $teal;
  }
  .container {
    @include clearfix();
    padding-top: 70px;
  }
  
  #left-footer {
    float: left;
    width: 40%
  }
  
  #right-footer {
    float: right;
    width: 50%;
    nav {
      float: left;
      width: 25%;
      li {
        a {
          color: $dark;
          &:hover {
            color: rgba($medium,0.5);
          }
        }
      }
    }
  }
}


.agenda {
  
  #days-header {
    
    @include clearfix();
    z-index: +1000000;

    .day-header {

      float: left;
      overflow: hidden;
      @include transition(1s width);          
      
      background: $light;
      padding: 20px 0 30px;      
      font-family: "proxima-nova-soft";
      text-transform: uppercase;
      z-index: +1000;

      .day-number {
        font-size: rem(32px);
        font-weight: 500;
        line-height: 1em;
        display: block;
      }

      .date {
        color: $teal;
        font-size: rem(28px);
        font-weight: 500;
        line-height: 1em;          
        display: block;
        margin-bottom: 10px;
      }

      &.open {
        
        width: 60%;           
        .button {
          background: rgba($medium,0.1);
        }
        
      }
         
      &.closed {
        
        width: 20%;
                
      }

    }

  }

  #three-days {
  
    @include clearfix();

    .day {
      
      float: left;
      overflow: hidden;
      @include transition(1s width);
          
      .schedule {
        
        padding-right: 30px;
      
        .time-slot {
          
          margin-bottom: 4px;
          position: relative;
                  
          .hour {
          
            position: absolute;
            top: 0;
            left: 0;
            text-align: right;
            width: 80px;
            font-size: rem(20px);
            line-height: 84px;
            font-weight: 500;          
          
          }
          
          .talk {
            
            @include transition(1s margin-left);
            
            margin-left: 100px;
            position: relative;
            background: #fff;
            overflow: hidden;
            padding: 20px 100px 0 80px;
            min-height: 80px;
            
            figure {
              margin: 0;
              width: 40px;
              height: 40px;
              position: absolute;
              top: 20px;
              left: 20px;
              background: rgba($medium,0.1);
            }
          
            .title {
              font-size: rem(20px);
              line-height: 1.1em;
              white-space: nowrap;
            }
            
            .sub {
              white-space: nowrap;
              overflow: hidden;
              font-size: rem(18px);
              line-height: 1.1em;
              color: rgba($medium,0.5);
            }
            
            .button {
              position: absolute;
              top: 50%;
              right: 20px;
              @include transform(translateY(-50%));
              @include transition(1s right);
            }
          
          }
  
        }
        
      }
      
      &.open {
        
        width: 60%;   
        
        .day-header {
          .button {
            background: rgba($medium,0.1);
          }
        }
        
      }
         
      &.closed {
        
        width: 20%;
        
        .schedule {
          
          .hour {
            
            left: -120px;
            
          }
          
          .talk {
            
            margin-left: 0px;
            
            .title {
              color: rgba($medium,0.66);            
            }
            .sub {
              color: rgba($medium,0.3);
            }
            .button {
              right: -800px;
              @include transition(1s right);
            }
            
          }
          
        }
        
      }
         
    }

  } 
  
}

body.speakers {  
  
  #speaker-list {
    
    @include row();
    
    .speaker {
      
      @include span-columns(3);
      @include omega(4n);
      margin-bottom: $gutter;
      background: white;
      position: relative;
      
      figure {
        background: $medium;
        margin: 0;
        width: 100%;
        padding-top: 80%;
      }
      
      .text {
        padding: 20px;
        width: 100%;
        height: 12em;
        
        h3 {
          text-transform: none;
          font-size: rem(28px);
          color: $teal;
          margin: 0 0 10px;
        }
        
        .desc {
          font-size: rem(18px);
          line-height: 1em;
          margin-bottom: 10px;
        }
        
        .twitter {
          font-size: rem(18px);
          line-height: 1em;
          color: rgba($medium,0.5);
          margin-bottom: 10px;
        }
        
        .tags {
          position: absolute;
          bottom: 15px;
          left: 20px;
          @include clearfix();
          li {
            border-radius: 2px;
            font-size: rem(16px);
            font-weight: 500;
            line-height: 1.2em;
            padding: 0 0.5em;
            padding-top: 0.2em;
            background: $purple;
            color: #fff;
            text-transform: uppercase;
            float: left;
            margin: 0 0 5px 5px;
          }
        }
        
      }
      
    }
    
  }

}


body.sponsors {

  #wrapper { background: white; }

  #sponsors-page {
  
    h3 {
      margin-bottom: 40px;
      color: $green;
    }
  
    .sponsors {
    
      @include clearfix();
      margin-bottom: 40px;
    
      .sponsor {
        float: left;
        figure {
          margin: 0;
          background: $medium;
        }
        margin-right: 20px;
        margin-bottom: 20px;
      }
    
    }
    
      
    #main-sponsors {
      @include row();
      .sponsor {
        @include span-columns(4);
        figure {        
          height: 100px;
          margin-bottom: 30px;
        }
        p {
          width: 90%;
          line-height: 1.33em;
        }
        
      }
      @for $i from 1 through 3 {
        .sponsor:nth-of-type(#{$i}) {
          figure {      
            width: random(200) + 100 + px
          }
        }
      }
    }
    
    #regular-sponsors {
      @include clearfix();
      .sponsor {
        figure {
          height: 80px;
        }
      }
      @for $i from 1 through 100 {
        .sponsor:nth-of-type(#{$i}) {
          figure {      
            width: random(200) + 150 + px
          }
        }
      }
    }
    
    #partners-supporters {
      @include clearfix();
      .sponsor {
        figure {
          height: 60px;
        }
      }
      @for $i from 1 through 100 {
        .sponsor:nth-of-type(#{$i}) {
          figure {      
            width: random(200) + 100 + px
          }
        }
      }
    }
      
  }

}

#half-modal {
  background: linear-gradient(-135deg, shade($black,10), rgba($dark,0.95));
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 40vw;
  z-index: 99999999;
  @include transform(translateX(100%));
  @include transition(1s transform);
}


#more-menu {
  background: linear-gradient(-135deg, $black, rgba($medium,0.95));
  position: fixed;
  top: 0;
  bottom: 0;
  right: -300px;
  width: 300px;
  z-index: 999999;
  @include transition(1s right);
  padding: 100px 0 0;
  h3 {
    letter-spacing: 0;
    padding: 0 40px;
    font-size: rem(18px);
    color: rgba(white,0.25);
  }
  ul {
    margin-bottom: 40px;
    li {
      a {
        display: block;
        font-size: rem(22px);
        line-height: 1em;
        padding: 10px 40px;
        color: rgba(#fff,0.75);
        &:hover {
          color: #fff;  
        }
      }
    }
  }
}

body.more-menu-is-open {
  #more-menu {
    right: 0;
    @include transition(1s right);
  }
}

body.modal-is-open {
  #half-modal {
    @include transform(translateX(0%));
    @include transition(1s transform);
  }
}

